*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 15px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9940a;
  border-radius: 0 10px 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0 10px 10px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
}

nav{
  text-align: center;
  background-color: #333;
}

nav h1{
  padding: 10px;
  color: white;
  font-size: 2.5rem;
}

main{
  padding-top: 50px;
  background-color: #e9940a;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto 1fr;
}

#input{
  background: #333;
  border: none;
  font-size: 2rem;
  color:#fff;
  padding: 10px 20px;
  margin-right: 20px;
}

#add{
  background: #e9940a;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
  box-shadow:  20px 20px 60px #c67e09, 
             -20px -20px 60px #ffaa0c;
}

#add:active{
  background: #e9940a;
  box-shadow: inset 20px 20px 60px #c67e09, 
              inset -20px -20px 60px #ffaa0c;
}

.todos{
  box-shadow:  20px 20px 60px #c67e09, 
              -20px -20px 60px #ffaa0c;
  padding: 20px;
  border-radius: 20px;
  max-height: 80%;
  overflow: auto;
}

.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
}

.trash:hover{
  transform: scale(1.2);
}


